.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: rgb(129, 127, 127);
  color: white;
  cursor: pointer;
  margin: 1px;
}
.button:hover {
  background-color: rgb(175, 170, 170);
}
